## SQL at Scale with Spark SQL

Welcome to the SQL mini project. For this project, you will use the Databricks Platform and work through a series of exercises using Spark SQL. The dataset size may not be too big but the intent here is to familiarize yourself with the Spark SQL interface which scales easily to huge datasets, without you having to worry about changing your SQL queries. 

The data you need is present in the mini-project folder in the form of three CSV files. This data will be imported in Databricks to create the following tables under the __`country_club`__ database.

<br>
1. The __`bookings`__ table,
2. The __`facilities`__ table, and
3. The __`members`__ table.

You will be uploading these datasets shortly into the Databricks platform to understand how to create a database within minutes! Once the database and the tables are populated, you will be focusing on the mini-project questions.

In the mini project, you'll be asked a series of questions. You can solve them using the databricks platform, but for the final deliverable,
please download this notebook as an IPython notebook (__`File -> Export -> IPython Notebook`__) and upload it to your GitHub.

### Creating the Database

We will first create our database in which we will be creating our three tables of interest

In [0]:
%sql 
drop database if exists country_club cascade;
create database country_club;
show databases;

databaseName
country_club
default

### Creating the Tables

In this section, we will be creating the three tables of interest and populate them with the data from the CSV files already available to you. 
To get started, first upload the three CSV files to the DBFS as depicted in the following figure

![](https://i.imgur.com/QcCruBr.png)


Once you have done this, please remember to execute the following code to build the dataframes which will be saved as tables in our database

In [0]:
# File location and type
file_location_bookings = "/FileStore/tables/Bookings.csv"
file_location_facilities = "/FileStore/tables/Facilities.csv"
file_location_members = "/FileStore/tables/Members.csv"

file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
bookings_df = (spark.read.format(file_type) 
                    .option("inferSchema", infer_schema) 
                    .option("header", first_row_is_header) 
                    .option("sep", delimiter) 
                    .load(file_location_bookings))

facilities_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_facilities))

members_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_members))

### Viewing the dataframe schemas

We can take a look at the schemas of our potential tables to be written to our database soon

In [0]:
print('Bookings Schema')
bookings_df.printSchema()
print('Facilities Schema')
facilities_df.printSchema()
print('Members Schema')
members_df.printSchema()

Bookings Schema
root
 |-- bookid: integer (nullable = true)
 |-- facid: integer (nullable = true)
 |-- memid: integer (nullable = true)
 |-- starttime: timestamp (nullable = true)
 |-- slots: integer (nullable = true)

Facilities Schema
root
 |-- facid: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- membercost: double (nullable = true)
 |-- guestcost: double (nullable = true)
 |-- initialoutlay: integer (nullable = true)
 |-- monthlymaintenance: integer (nullable = true)

Members Schema
root
 |-- memid: integer (nullable = true)
 |-- surname: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- address: string (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- telephone: string (nullable = true)
 |-- recommendedby: integer (nullable = true)
 |-- joindate: timestamp (nullable = true)

### Create permanent tables
We will be creating three permanent tables here in our __`country_club`__ database as we discussed previously with the following code

In [0]:
%fs
rm -r /user/hive/warehouse/country_club.db/

In [0]:
permanent_table_name_bookings = "country_club.Bookings"
bookings_df.write.format("parquet").saveAsTable(permanent_table_name_bookings)

permanent_table_name_facilities = "country_club.Facilities"
facilities_df.write.format("parquet").saveAsTable(permanent_table_name_facilities)

permanent_table_name_members = "country_club.Members"
members_df.write.format("parquet").saveAsTable(permanent_table_name_members)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-1153596644858418>:2
      1 permanent_table_name_bookings = "country_club.Bookings"
----> 2 bookings_df.write.format("parquet").saveAsTable(permanent_table_name_bookings)
      4 permanent_table_name_facilities = "country_club.Facilities"
      5 facilities_df.write.format("parquet").saveAsTable(permanent_table_name_facilities)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/readwriter.py:1520, in DataFrameWriter.saveAsTable(self, name, format, mode, partitionBy, **options)
   1518 if format is not None:
   1519     self.format(format)
-> 1520 self._jwrite.saveAsTable(name)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create table or view `spark_catalog`.`country_club`.`bookings` because it already exists.
Choose a different name, drop or replace the existing object, add the IF NOT EXISTS clause to tolerate pre-existing objects, or add the OR REFRESH clause to refresh the existing streaming table.

### Refresh tables and check them

In [0]:
%sql
use country_club;
REFRESH table bookings;
REFRESH table facilities;
REFRESH table members;
show tables;

database,tableName,isTemporary
country_club,bookings,false
country_club,facilities,false
country_club,members,false

### Test a sample SQL query

__Note:__ You can use __`%sql`__ at the beginning of a cell and write SQL queries directly as seen in the following cell. Neat isn't it!

In [0]:
%sql
select * from bookings limit 3

bookid,facid,memid,starttime,slots
0,3,1,2012-07-03T11:00:00.000+0000,2
1,4,1,2012-07-03T08:00:00.000+0000,2
2,6,0,2012-07-03T18:00:00.000+0000,2

#### Q1: Some of the facilities charge a fee to members, but some do not. Please list the names of the facilities that do.

In [0]:
%sql
select name from facilities where membercost = 0

name
Badminton Court
Table Tennis
Snooker Table
Pool Table

####  Q2: How many facilities do not charge a fee to members?

In [0]:
%sql
select count(name) from facilities where membercost = 0

count(name)
4

#### Q3: How can you produce a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost? 
#### Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

In [0]:
%sql
select facid, name, membercost, monthlymaintenance 
from facilities 
where membercost < monthlymaintenance / 5
order by membercost desc

facid,name,membercost,monthlymaintenance
4,Massage Room 1,9.9,3000
5,Massage Room 2,9.9,3000
0,Tennis Court 1,5.0,200
1,Tennis Court 2,5.0,200
6,Squash Court,3.5,80
2,Badminton Court,0.0,50
3,Table Tennis,0.0,10
7,Snooker Table,0.0,15
8,Pool Table,0.0,15

#### Q4: How can you retrieve the details of facilities with ID 1 and 5? Write the query without using the OR operator.

In [0]:
%sql
select * from facilities where facid in (1,5)

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
1,Tennis Court 2,5.0,25.0,8000,200
5,Massage Room 2,9.9,80.0,4000,3000

#### Q5: How can you produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than $100? 
#### Return the name and monthly maintenance of the facilities in question.

In [0]:
%sql
select name, monthlymaintenance, 
case 
  when monthlymaintenance <= 100 then 'cheap'
  else 'expensive'
  end as pricing
from facilities
order by monthlymaintenance desc

name,monthlymaintenance,pricing
Massage Room 1,3000,expensive
Massage Room 2,3000,expensive
Tennis Court 1,200,expensive
Tennis Court 2,200,expensive
Squash Court,80,cheap
Badminton Court,50,cheap
Snooker Table,15,cheap
Pool Table,15,cheap
Table Tennis,10,cheap

#### Q6: You'd like to get the first and last name of the last member(s) who signed up. Do not use the LIMIT clause for your solution.

In [0]:
%sql
select firstname, surname 
from members
where memid = (select max(memid) from members)

firstname,surname
Darren,Smith

####  Q7: How can you produce a list of all members who have used a tennis court?
- Include in your output the name of the court, and the name of the member formatted as a single column. 
- Ensure no duplicate data
- Also order by the member name.

In [0]:
%sql
with named_bookings as (
    select facilities.name as facname, bookings.*
    from facilities
    inner join bookings
    on facilities.facid = bookings.facid
    where facilities.name rlike '([Tt]ennis)' and facilities.name not rlike '([Tt]able).([Tt]ennis)'
)
select collect_set(facname) as court_names, firstname ||' '|| surname as name
from named_bookings
inner join members
on named_bookings.memid = members.memid
group by name
order by name

court_names,name
"List(Tennis Court 1, Tennis Court 2)",Anne Baker
"List(Tennis Court 1, Tennis Court 2)",Burton Tracy
"List(Tennis Court 1, Tennis Court 2)",Charles Owen
List(Tennis Court 2),Darren Smith
"List(Tennis Court 1, Tennis Court 2)",David Farrell
"List(Tennis Court 1, Tennis Court 2)",David Jones
List(Tennis Court 1),David Pinker
List(Tennis Court 1),Douglas Jones
List(Tennis Court 1),Erica Crumpet
"List(Tennis Court 1, Tennis Court 2)",Florence Bader
"List(Tennis Court 1, Tennis Court 2)",GUEST GUEST
"List(Tennis Court 1, Tennis Court 2)",Gerald Butters
List(Tennis Court 2),Henrietta Rumney
"List(Tennis Court 1, Tennis Court 2)",Jack Smith
"List(Tennis Court 1, Tennis Court 2)",Janice Joplette
"List(Tennis Court 1, Tennis Court 2)",Jemima Farrell
List(Tennis Court 1),Joan Coplin
"List(Tennis Court 1, Tennis Court 2)",John Hunt
List(Tennis Court 1),Matthew Genting
List(Tennis Court 2),Millicent Purview
"List(Tennis Court 1, Tennis Court 2)",Nancy Dare
"List(Tennis Court 1, Tennis Court 2)",Ponder Stibbons
"List(Tennis Court 1, Tennis Court 2)",Ramnaresh Sarwin
"List(Tennis Court 1, Tennis Court 2)",Tim Boothe
"List(Tennis Court 1, Tennis Court 2)",Tim Rownam
"List(Tennis Court 1, Tennis Court 2)",Timothy Baker
"List(Tennis Court 1, Tennis Court 2)",Tracy Smith

#### Q8: How can you produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30? 

- Remember that guests have different costs to members (the listed costs are per half-hour 'slot')
- The guest user's ID is always 0. 

#### Include in your output the name of the facility, the name of the member formatted as a single column, and the cost.

- Order by descending cost, and do not use any subqueries.

In [0]:
%sql
create or replace view named_bookings as (
    select facilities.name as facname, facilities.membercost, facilities.guestcost, bookings.*, firstname ||' '|| surname as name
    from facilities
    inner join bookings
    on facilities.facid = bookings.facid
    inner join members
    on bookings.memid = members.memid
    where to_date(starttime) = to_date("2012-09-14")
);

create or replace view costs as (
  select bookid, name,
    case
      when memid = 0 THEN slots*guestcost
      else slots*membercost
      end as book_cost
  from named_bookings
  );
select * from costs where book_cost > 30 order by book_cost desc

bookid,name,book_cost
2946,GUEST GUEST,320.0
2937,GUEST GUEST,160.0
2940,GUEST GUEST,160.0
2942,GUEST GUEST,160.0
2926,GUEST GUEST,150.0
2920,GUEST GUEST,75.0
2922,GUEST GUEST,75.0
2925,GUEST GUEST,75.0
2948,GUEST GUEST,70.0
2941,Jemima Farrell,39.6
2949,GUEST GUEST,35.0
2951,GUEST GUEST,35.0

#### Q9: This time, produce the same result as in Q8, but using a subquery.

In [0]:
%sql
with named_bookings as (
    select facilities.name as facname, facilities.membercost, facilities.guestcost, bookings.*, firstname ||' '|| surname as name
    from facilities
    inner join bookings
    on facilities.facid = bookings.facid
    inner join members
    on bookings.memid = members.memid
    where to_date(starttime) = to_date("2012-09-14")
)
select bookid, name,
  case
    when memid = 0 THEN slots*guestcost
    else slots*membercost
    end as book_cost
from named_bookings
where (select case
    when memid = 0 THEN slots*guestcost
    else slots*membercost
    end as book_cost) > 30
order by book_cost desc

bookid,name,book_cost
2946,GUEST GUEST,320.0
2937,GUEST GUEST,160.0
2940,GUEST GUEST,160.0
2942,GUEST GUEST,160.0
2926,GUEST GUEST,150.0
2920,GUEST GUEST,75.0
2922,GUEST GUEST,75.0
2925,GUEST GUEST,75.0
2948,GUEST GUEST,70.0
2941,Jemima Farrell,39.6
2949,GUEST GUEST,35.0
2951,GUEST GUEST,35.0

#### Q10: Produce a list of facilities with a total revenue less than 1000.
- The output should have facility name and total revenue, sorted by revenue. 
- Remember that there's a different cost for guests and members!

In [0]:
%sql
create or replace view revenues as 
    (
        with named_bookings as 
        (
        select facilities.name as facname, facilities.membercost, facilities.guestcost, bookings.*, firstname ||' '|| surname as name
        from facilities
        inner join bookings
        on facilities.facid = bookings.facid
        inner join members
        on bookings.memid = members.memid
        )
    select *, case when memid = 0 then slots*guestcost else slots*membercost end as book_cost
    from named_bookings
    );

select facname, sum(book_cost) as revenue
from revenues
group by facname
having revenue < 1000
order by revenue desc

facname,revenue
Pool Table,270.0
Snooker Table,240.0
Table Tennis,180.0